<div class="fh-drawArea"  ng-init="dc.intialize()">
    <div class="fh-outerbar">
        <div class="fh-canvas-title">
            {{dc.fabricService.windowAttr.attr[0].prop[0].value}}
            <span ng-if="dc.fabricService.isEdited">*</span>
            <span ng-if="dc.fabricService.canvasMode.desktop === true"> | Desktop</span>
            <span ng-if="dc.fabricService.canvasMode.mobile === true"> | Mobile</span>
        </div>
    </div>
    <div class="fh-canvas-wrapper">
        <canvas class="fh-canvas" id="fhCanvas"></canvas>
    </div>
    <aside class="fh-canvas-move-pos" ng-if="dc.fabricService.obj.show === true">
        <div>
            {{dc.fabricService.obj.msg}}
        </div>
    </aside>
</div>