/* 
    Created on : 17-Jan-2018, 20:01:21
    Author     : Pradhaban
*/

.fh-canvas-move-pos {
    background: #ccc;
    padding: 5px 10px;
    position: absolute;
    top: 32px;
    border-radius: 5px;
    font-size: 25px;
    right: 32px;
}