/* 
    Created on : 19-Dec-2017, 20:19:54
    Author     : Pradhaban
*/

.fh-actionbar{
    margin-left: 15px;
}

.fh-menu{
    background:#4F4D50;;
    padding: 2px 0px;
}

.fh-btn{
    margin-right: 8px;
    padding: 5px;
    min-width: 40px;
    height: 35px;
    border: none;
    background: transparent;
    outline: none;
}

.fh-btn:hover {
    background: rgba(255,255,255,0.5);
}


.fh-toolbar{
    float: right;
}

.fh-plus{
    background: url(../../img/file/add.png);
    background-size: cover;
}

.fh-folder-open{
    background: url(../../img/file/open-folder.png);
    background-size: cover;
}

.fh-floppy-o{
    background: url(../../img/file/floppy-disk.png);
    background-size: cover;
}

.fh-play{
    background: url(../../img/file/play-button.png);
    background-size: cover;
}

.fh-exit{
    background: url(../../img/file/exit.png);
    background-size: cover;
}

.fh-file-image {
    min-width: 19px;
    height: 19px;
    margin: 2px 0px;
    display: inline-block;
}

.fh-file-name {
    clear: both;
    display: block;
    font-size: 10px;
    outline:none;
    font-family: verdana;
}