/* 
    Created on : 19-Dec-2017, 20:19:54
    Author     : Pradhaban
*/

.fh-actionbar {
    margin-left: 15px;
    border-right: 1px solid rgba(144, 143, 143, 0.5);
    box-sizing: border-box;
    border-right-width: thin;
}

.fh-menu{
    background:#4F4D50;;
    padding: 2px 0px;
}

.fh-btn{
    margin-right: 8px;
    padding: 5px;
    min-width: 40px;
    height: 35px;
    border: none;
    background: transparent;
    outline: none;
}

.fh-btn:hover {
    background: #4E94FB;
}


.fh-toolbar{
    float: right;
}

.fh-plus{
    background: url(../../img/file/add.png);
    background-size: cover;
}

.fh-folder-open{
    background: url(../../img/file/open-folder.png);
    background-size: cover;
}

.fh-floppy-o{
    background: url(../../img/file/floppy-disk.png);
    background-size: cover;
}

.fh-play{
    background: url(../../img/file/play-button.png);
    background-size: cover;
}

.fh-exit{
    background: url(../../img/file/exit.png);
    background-size: cover;
}

.fh-zoom-in{
    background: url(../../img/file/zoom-in.png);
    background-size: cover;
}

.fh-zoom-out{
    background: url(../../img/file/zoom-out.png);
    background-size: cover;
}

.fh-cmt-mode{
    background: url(../../img/file/comment.png);
    background-size: cover;
}

.fh-mobile{
    background: url(../../img/file/mobile-phone.png);
    background-size: cover;
}
.fh-desktop{
    background: url(../../img/file/desktop.png);
    background-size: cover;
}
.fh-tablet{
    background: url(../../img/file/tablet.png);
    background-size: cover;
}
.fh-settings{
    background: url(../../img/file/settings.png);
    background-size: cover;
}
.fh-help{
    background: url(../../img/file/help.png);
    background-size: cover;
}

.fh-info{
    background: url(../../img/file/info.png);
    background-size: cover;
}

.fh-share{
    background: url(../../img/file/share.png);
    background-size: cover;
}

.fh-notify{
    background: url(../../img/file/notify.png);
    background-size: cover;
}

.fh-file-image {
    min-width: 19px;
    height: 19px;
    margin: 2px 0px;
    display: inline-block;
}

.fh-file-name {
    clear: both;
    display: block;
    font-size: 10px;
    outline:none;
    font-family: verdana;
}