<div class="row fh-divider-horizontal fh-menu">
    <div class="col-md-2 logo">LOGO</div>
    <div class="col-md-10">
        <div class="row">
            <div class="fh-actionbar col-md-2" ng-repeat="(menuName,menu) in tc.fileMenu">
                     <button ng-repeat="menuItem in menu" 
                             ng-class="menuItem.class"
                             class="fh-btn" title="{{menuItem.name}}" ng-attr-id="{{menuItem.value}}" ng-click="tc.fileActions(menuItem,menuName)">
                         <span class="fh-file-image"
                               ng-style="{'background':'url(img/file/'+menuItem.img+')','background-size':'cover','background-repeat':'no-repeat'}"></span>
                     </button>
                     <span class="fh-menu-divider"></span>
                 </div>s
            <div class="fh-tool-btn pull-right">
                <button class="fh-ext" ng-click="tc.fileActions({value:'exit'},'ext')">
                    <span class="fh-file-image" ng-style="{'background':'url(img/file/exit.png)','background-size':'cover','background-repeat':'no-repeat'}"></span>
                </button>
            </div>
            </div>
        </div>
</div>