<div class="row fh-divider-horizontal fh-menu" ng-controller="toolbarCtrl as tc">
    <div class="col-md-5 fh-actionbar">
        <button ng-repeat="menu in tc.fileMenu" class="fh-btn" title="{{menu.name}}" ng-attr-id="{{menu.value}}" ng-click="tc.newProj()">
            <span class="fh-file-image" ng-class="menu.class"></span>
<!--            <span class="fh-file-name">{{menu.name}}</span>-->
        </button>
    </div>
    <div class="col-md-2 col-md-offset-4 fh-toolbar">
        <button ng-repeat="menu in tc.editMenu" class="fh-btn" title="{{menu.name}}" ng-click="tc.editAction(menu)">
            <span class="fh-file-image" ng-class="menu.class"></span>
        </button>
    </div>
</div>