/* 
    Created on : 22-Dec-2017, 23:41:47
    Author     : Pradhaban
*/

.fh-tab {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 5px;
    color: #b1afaf;
    min-width: 100%;
    background: #3B3B3B;
    font-size: 13px;
    border-bottom: 1px solid #6d6d6d;
}

.fh-tab.active {
    background: #4E94FB;
    color: #e6e6e6;
}

.fh-tab-content {
    max-height: 80vh;
    min-height: 150px;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-right: none;
    overflow-y: auto;
    display: table;
    width: 100%;
}

.fh-load-option {
    background: #86d5d8;
}

.fh-load-option > select{
    background: #DCE0E6;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-left: none;
    outline: none;
    border-right: none;
    border-top: none;
}

.fh-child-border {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-left: 1px dashed #909090;
    border-bottom: 1px dashed #909090;
}

.fh-obj-child {
    margin-left: 30px;
    user-select: none;
    margin-top: -8px;
}

.fh-obj-master {
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    font-family: verdana;
    font-size: 12px;
}

span.fh-child-txt {
    vertical-align: -webkit-baseline-middle;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    font-family: verdana;
    font-size: 10px;
}

.fh-sidebar-property {
    border-bottom: 1px solid #ccc;
    padding: 0px 2px;
    width: 100%;
    display: table-row;
}

.fh-sb-prop-value {
    border-left: 1px solid #ccc;
    vertical-align: top;
    width: 55%;
}

.fh-sb-prop-name {
    font-weight: bold;
    max-width: 45%;
    vertical-align: middle;
}

.fh-sb-prop-name, .fh-sb-prop-value {
    font-size: 13px;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    margin: 0px 5px;
    max-height: 53px;
    display: table-cell;
}

.fh-sb-prop-txt{
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
}

.fh-sb-prop-color{
    width: 20px;
    min-height: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px #ebebeb;
    background: #fff;
}

.fh-sb-prop-type {
    background: #b1b1b1;
    padding: 5px;
    color: #ebebeb;
    font-family: verdana;
    text-transform: capitalize;
}


.fh-prop-radio{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 13px;
    vertical-align: middle;
}

.fh-prop-radio input {display:none;}

.fh-prop-radio-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.fh-prop-radio-slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: -4px;
    background-color: white;
    -webkit-transition: .4s;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 9px #ccc;
    transition: .4s;
}

input:checked + .fh-prop-radio-slider {
    background-color: #383D46;
}

input:checked + .fh-prop-radio-slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

.fh-prop-radio-slider.round {
    border-radius: 34px;
}

.fh-prop-radio-slider.round:before {
    border-radius: 50%;
}

.fh-sb-folder-name {
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    background: #ccc;
    display: block;
    padding: 5px 10px;
}

.fh-sb-screen {
    width: 100px;
    height: 95px;
    border: 1px solid #ccc;
    margin: 10px auto;
    display: block;
}

.fh-sb-folder-wrapper {
    margin: 2px auto;
    width: 70%;
    text-align: center;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.fh-sb-folder-wrapper:hover {
    background: #ebebeb;
}

.logo{
    line-height: 34px;
    color: #fff;
    margin: auto;
    text-align: center;
}