<div class="side-win active">
    <div class="side-tab-heading-wrapper">
        <div class="side-tab-heading">Styles</div>
        <div class="right-align">
            <span id="toggleStyles" class="toggle-content expand"></span>
        </div>
    </div>
    <div id="stylesWindow">
        <div class="style-ele">Document</div>
        <div class="style-brief">
            <span class="style-title">Size</span>
            <span class="style-desc">1280 x 960</span>
        </div>
        <div class="style-brief">
            <span class="style-title"></span>
            <span class="style-desc"></span>
        </div>
    </div>
</div>