<div class="side-win">
    <div class="side-tab-heading-wrapper">
        <div class="side-tab-heading">Navigator</div>
        <div class="right-align">
            <span> - </span>
        </div>
    </div>
    <div id="zoomWindow">
        <div id="thumbMap"></div>
        <div id="zoomCtrl">
            <input id="zoomRange" class="range" type="range" value="100" min="10" step="1" max="200"/>
            <span id="zoomTxt" contenteditable="true" class="editable-txt">100%</span>
        </div>
    </div>
</div>
