<div class="side-win active">
    <div class="side-tab-heading-wrapper">
        <div class="side-tab-heading">Navigator</div>
        <div class="right-align">
            <span id="toggleZoom" class="toggle-content expand"></span>
        </div>
    </div>
    <div id="zoomWindow">
        <div id="thumbMap"></div>
        <div id="zoomCtrl">
            <div class="zoom-status-icon"></div>
            <input id="zoomRange" class="range" type="range" value="100" min="10" step="1" max="200"/>
            <span id="zoomTxt" contenteditable="true" class="editable-txt">100%</span>
        </div>
    </div>
</div>
