<div class="fh-tab-content">
    <div ng-show="!sc.electronService.projPath" style="text-align:  center; margin-top: 10px;">
        <a href="#" ng-click="sc.createNewProj()">+ Create Project</a>
    </div>
    <div>
        <div ng-repeat="screen in sc.electronService.files.screens">
            <div class="fh-sb-folder-wrapper" ng-click="sc.loadFile(screen.name)">
                <span class="fh-sb-screen" ng-style="{'background': 'url('+screen.img+')','background-size':'cover'}"></span>
                <span class="fh-sb-folder-name">{{screen.name}}</span>
            </div>
        </div>
    </div>
</div>